In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
# Load the No Insurance File
no_ins_data_to_load = "Resources/no_insurance.csv"

# Read the MN No Insurance File
ins_df = pd.read_csv(no_ins_data_to_load)

ins_df.head()

,indicator,year,geography,age,sex,povertyThreshold,count,population,percent,ci
0,insurance,2011,Aitkin,Children (<19 years),Both combined,NaN,283,NaN,9.5,(7.7 - 11.3)
1,insurance,2012,Aitkin,Children (<19 years),Both combined,NaN,261,NaN,9.1,(7.2 - 11.0)
2,insurance,2013,Aitkin,Children (<19 years),Both combined,NaN,254,NaN,9.0,(7.3 - 10.7)
3,insurance,2014,Aitkin,Children (<19 years),Both combined,NaN,182,NaN,6.4,(5.0 - 7.8)
4,insurance,2011,Anoka,Children (<19 years),Both combined,NaN,5485,NaN,6.2,(5.2 - 7.2)

In [8]:
renamed_df = ins_df.rename(columns={"geography": "County"})
renamed_df.head()

,indicator,year,County,age,sex,povertyThreshold,count,population,percent,ci
0,insurance,2011,Aitkin,Children (<19 years),Both combined,NaN,283,NaN,9.5,(7.7 - 11.3)
1,insurance,2012,Aitkin,Children (<19 years),Both combined,NaN,261,NaN,9.1,(7.2 - 11.0)
2,insurance,2013,Aitkin,Children (<19 years),Both combined,NaN,254,NaN,9.0,(7.3 - 10.7)
3,insurance,2014,Aitkin,Children (<19 years),Both combined,NaN,182,NaN,6.4,(5.0 - 7.8)
4,insurance,2011,Anoka,Children (<19 years),Both combined,NaN,5485,NaN,6.2,(5.2 - 7.2)

In [11]:
insurance_df = renamed_df.drop(columns=['indicator', 'population', 'sex', 'povertyThreshold', 'ci'])
insurance_df.head(30)

    year      County                   age  count  percent
0   2011      Aitkin  Children (<19 years)    283      9.5
1   2012      Aitkin  Children (<19 years)    261      9.1
2   2013      Aitkin  Children (<19 years)    254      9.0
3   2014      Aitkin  Children (<19 years)    182      6.4
4   2011       Anoka  Children (<19 years)   5485      6.2
5   2012       Anoka  Children (<19 years)   4220      4.8
6   2013       Anoka  Children (<19 years)   4791      5.5
7   2014       Anoka  Children (<19 years)   2993      3.5
8   2011      Becker  Children (<19 years)    821      9.9
9   2012      Becker  Children (<19 years)    749      9.0
10  2013      Becker  Children (<19 years)    690      8.2
11  2014      Becker  Children (<19 years)    538      6.4
12  2011    Beltrami  Children (<19 years)   1216     10.2
13  2012    Beltrami  Children (<19 years)   1106      9.3
14  2013    Beltrami  Children (<19 years)   1023      8.7
15  2014    Beltrami  Children (<19 years)    669      5.7
16  2011      Benton  Children (<19 years)    493      5.0
17  2012      Benton  Children (<19 years)    509      5.2
18  2013      Benton  Children (<19 years)    526      5.3
19  2014      Benton  Children (<19 years)    312      3.1
20  2011   Big Stone  Children (<19 years)     96      8.4
21  2012   Big Stone  Children (<19 years)     83      7.5
22  2013   Big Stone  Children (<19 years)     93      8.6
23  2014   Big Stone  Children (<19 years)     62      5.6
24  2011  Blue Earth  Children (<19 years)    796      6.2
25  2012  Blue Earth  Children (<19 years)    694      5.3
26  2013  Blue Earth  Children (<19 years)    702      5.3
27  2014  Blue Earth  Children (<19 years)    416      3.1
28  2011       Brown  Children (<19 years)    332      5.7
29  2012       Brown  Children (<19 years)    283      5.0