In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [8]:
# Load the No Insurance File
no_ins_data_to_load = "Resources/no_insurance.csv"

# Read the MN No Insurance File
ins_df = pd.read_csv(no_ins_data_to_load)

ins_df.head()

,indicator,year,geography,age,sex,povertyThreshold,count,population,percent,ci
0,insurance,2011,Aitkin,Children (<19 years),Both combined,NaN,283,NaN,9.5,(7.7 - 11.3)
1,insurance,2012,Aitkin,Children (<19 years),Both combined,NaN,261,NaN,9.1,(7.2 - 11.0)
2,insurance,2013,Aitkin,Children (<19 years),Both combined,NaN,254,NaN,9.0,(7.3 - 10.7)
3,insurance,2014,Aitkin,Children (<19 years),Both combined,NaN,182,NaN,6.4,(5.0 - 7.8)
4,insurance,2011,Anoka,Children (<19 years),Both combined,NaN,5485,NaN,6.2,(5.2 - 7.2)

In [9]:
renamed_df = ins_df.rename(columns={"geography": "county"})
renamed_df.head()

,indicator,year,county,age,sex,povertyThreshold,count,population,percent,ci
0,insurance,2011,Aitkin,Children (<19 years),Both combined,NaN,283,NaN,9.5,(7.7 - 11.3)
1,insurance,2012,Aitkin,Children (<19 years),Both combined,NaN,261,NaN,9.1,(7.2 - 11.0)
2,insurance,2013,Aitkin,Children (<19 years),Both combined,NaN,254,NaN,9.0,(7.3 - 10.7)
3,insurance,2014,Aitkin,Children (<19 years),Both combined,NaN,182,NaN,6.4,(5.0 - 7.8)
4,insurance,2011,Anoka,Children (<19 years),Both combined,NaN,5485,NaN,6.2,(5.2 - 7.2)

In [10]:
insurance_df = renamed_df.drop(columns=['indicator', 'population', 'sex', 'povertyThreshold', 'ci'])
insurance_df.head()

   year  county                   age  count  percent
0  2011  Aitkin  Children (<19 years)    283      9.5
1  2012  Aitkin  Children (<19 years)    261      9.1
2  2013  Aitkin  Children (<19 years)    254      9.0
3  2014  Aitkin  Children (<19 years)    182      6.4
4  2011   Anoka  Children (<19 years)   5485      6.2

In [16]:
ins_bycounty = insurance_df.groupby(['county'])
avg_count = round(ins_bycounty["count"].mean(),2)
avg_percent = round(ins_bycounty["percent"].mean(),2)
print(avg_percent)

county
Aitkin             8.50
Anoka              5.00
Becker             8.38
Beltrami           8.48
Benton             4.65
Big Stone          7.52
Blue Earth         4.98
Brown              4.92
Carlton            6.45
Carver             3.82
Cass               9.45
Chippewa           6.92
Chisago            5.00
Clay               4.78
Clearwater         9.27
Cook               9.57
Cottonwood         6.65
Crow Wing          5.72
Dakota             4.28
Dodge              4.98
Douglas            5.07
Faribault          6.43
Fillmore           8.10
Freeborn           5.88
Goodhue            5.60
Grant              6.80
Hennepin           5.22
Houston            5.70
Hubbard            7.58
Isanti             5.30
                   ...
Pine               7.10
Pipestone          7.28
Polk               6.08
Pope               6.58
Ramsey             5.70
Red Lake           7.78
Redwood            7.80
Renville           7.35
Rice               6.80
Rock               6.10
Roseau             6.07
Scott              4.50
Sherburne          4.65
Sibley             7.95
St. Louis          5.22
Stearns            5.02
Steele             5.00
Stevens            6.00
Swift              5.55
Todd               9.78
Traverse           9.15
Wabasha            5.75
Wadena             6.32
Waseca             5.68
Washington         4.22
Watonwan           9.98
Wilkin             5.50
Winona             5.43
Wright             4.65
Yellow Medicine    6.65
Name: percent, Length: 88, dtype: float64