In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
# Load the No Insurance File
no_ins_data_to_load = "Resources/no_insurance.csv"

# Read the MN No Insurance File
ins_df = pd.read_csv(no_ins_data_to_load)

ins_df.head()

,indicator,year,geography,age,sex,povertyThreshold,count,population,percent,ci
0,insurance,2011,Aitkin,Children (<19 years),Both combined,NaN,283,NaN,9.5,(7.7 - 11.3)
1,insurance,2012,Aitkin,Children (<19 years),Both combined,NaN,261,NaN,9.1,(7.2 - 11.0)
2,insurance,2013,Aitkin,Children (<19 years),Both combined,NaN,254,NaN,9.0,(7.3 - 10.7)
3,insurance,2014,Aitkin,Children (<19 years),Both combined,NaN,182,NaN,6.4,(5.0 - 7.8)
4,insurance,2011,Anoka,Children (<19 years),Both combined,NaN,5485,NaN,6.2,(5.2 - 7.2)

In [8]:
insurance_df = ins_df.drop(columns=['indicator', 'sex', 'povertyThreshold', 'ci'])
insurance_df.head()

   year geography                   age  count  population  percent
0  2011    Aitkin  Children (<19 years)    283         NaN      9.5
1  2012    Aitkin  Children (<19 years)    261         NaN      9.1
2  2013    Aitkin  Children (<19 years)    254         NaN      9.0
3  2014    Aitkin  Children (<19 years)    182         NaN      6.4
4  2011     Anoka  Children (<19 years)   5485         NaN      6.2