In [35]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

In [36]:
file = 'Poverty (2011-2016) master data.csv'
poverty_df = pd.read_csv(file)
poverty_df

,Year,State,County ID,County Name (State),All Ages SAIPE Poverty Universe,All Ages in Poverty Count,All Ages in Poverty Count LB 90%,All Ages in Poverty Count UB 90%,90% Confidence Interval (All Ages in Poverty Count),All Ages in Poverty Percent,...,Under Age 5 in Poverty Count UB 90%,90% Confidence Interval (Under Age 5 in Poverty Count),Under Age 5 in Poverty Percent,Under Age 5 in Poverty Percent LB 90%,Under Age 5 in Poverty Percent UB 90%,90% Confidence Interval (Under Age 5 in Poverty Percent),Median Household Income in Dollars,Median Household Income in Dollars LB 90%,Median Household Income in Dollars UB 90%,90% Confidence Interval (Median Household Income in Dollars)
0,2011,27,27001,Aitkin County (MN),"15,973","2,101","1,735","2,467","1,735 to 2,467",13.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$39,958","$37,015","$42,901","$37,015 to $42,901"
1,2011,27,27003,Anoka County (MN),"329,686","28,257","25,257","31,257","25,257 to 31,257",8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$63,799","$62,047","$65,551","$62,047 to $65,551"
2,2011,27,27005,Becker County (MN),"32,267","4,176","3,525","4,827","3,525 to 4,827",12.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$47,819","$45,653","$49,985","$45,653 to $49,985"
3,2011,27,27007,Beltrami County (MN),"43,231","8,835","7,536","10,134","7,536 to 10,134",20.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$40,657","$37,252","$44,062","$37,252 to $44,062"
4,2011,27,27009,Benton County (MN),"38,007","4,381","3,629","5,133","3,629 to 5,133",11.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$49,482","$45,634","$53,330","$45,634 to $53,330"
5,2011,27,27011,Big Stone County (MN),"5,101",765,633,897,633 to 897,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$43,190","$39,697","$46,683","$39,697 to $46,683"
6,2011,27,27013,Blue Earth County (MN),"60,423","11,085","9,946","12,224","9,946 to 12,224",18.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$46,280","$42,822","$49,738","$42,822 to $49,738"
7,2011,27,27015,Brown County (MN),"24,691","1,980","1,560","2,400","1,560 to 2,400",8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,339","$46,804","$53,874","$46,804 to $53,874"
8,2011,27,27017,Carlton County (MN),"33,785","4,118","3,445","4,791","3,445 to 4,791",12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$49,357","$46,281","$52,433","$46,281 to $52,433"
9,2011,27,27019,Carver County (MN),"91,820","4,926","3,982","5,870","3,982 to 5,870",5.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$85,314","$79,920","$90,708","$79,920 to $90,708"
10,2011,27,27021,Cass County (MN),"28,102","5,142","4,473","5,811","4,473 to 5,811",18.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$42,297","$39,938","$44,656","$39,938 to $44,656"
11,2011,27,27023,Chippewa County (MN),"12,128","1,318","1,047","1,589","1,047 to 1,589",10.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$46,545","$42,692","$50,398","$42,692 to $50,398"
12,2011,27,27025,Chisago County (MN),"52,488","3,525","2,791","4,259","2,791 to 4,259",6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$62,776","$58,346","$67,206","$58,346 to $67,206"
13,2011,27,27027,Clay County (MN),"56,109","8,294","7,096","9,492","7,096 to 9,492",14.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$52,731","$49,424","$56,038","$49,424 to $56,038"
14,2011,27,27029,Clearwater County (MN),"8,652","1,638","1,369","1,907","1,369 to 1,907",18.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$36,697","$34,713","$38,681","$34,713 to $38,681"
15,2011,27,27031,Cook County (MN),"5,166",562,447,677,447 to 677,10.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$44,278","$39,793","$48,763","$39,793 to $48,763"
16,2011,27,27033,Cottonwood County (MN),"11,485","1,347","1,063","1,631","1,063 to 1,631",11.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$44,504","$40,539","$48,469","$40,539 to $48,469"
17,2011,27,27035,Crow Wing County (MN),"62,038","8,301","7,045","9,557","7,045 to 9,557",13.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,514","$42,503","$48,525","$42,503 to $48,525"
18,2011,27,27037,Dakota County (MN),"399,262","27,972","24,596","31,348","24,596 to 31,348",7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$70,064","$68,279","$71,849","$68,279 to $71,849"
19,2011,27,27039,Dodge County (MN),"20,073","1,483","1,177","1,789","1,177 to 1,789",7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$65,423","$60,604","$70,242","$60,604 to $70,242"
20,2011,27,27041,Douglas County (MN),"35,709","3,869","3,200","4,538","3,200 to 4,538",10.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$49,161","$46,341","$51,981","$46,341 to $51,981"
21,2011,27,27043,Faribault County (MN),"14,139","1,921","1,547","2,295","1,547 to 2,295",13.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$43,567","$40,145","$46,989","$40,145 to $46,989"
22,2011,27,27045,Fillmore County (MN),"20,497","2,507","2,056","2,958","2,056 to 2,958",12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$47,241","$44,311","$50,171","$44,311 to $50,171"
23,2011,27,27047,Freeborn County (MN),"30,569","3,792","3,156","4,428","3,156 to 4,428",12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$44,352","$41,398","$47,306","$41,398 to $47,306"
24,2011,27,27049,Goodhue County (MN),"45,315","4,156","3,449","4,863","3,449 to 4,863",9.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$54,724","$50,161","$59,287","$50,161 to $59,287"
25,2011,27,27051,Grant County (MN),"5,891",613,484,742,484 to 742,10.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$43,715","$40,179","$47,251","$40,179 to $47,251"
26,2011,27,27053,Hennepin County (MN),"1,147,822","156,330","148,419","164,241","148,419 to 164,241",13.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,811","$59,850","$61,772","$59,850 to $61,772"
27,2011,27,27055,Houston County (MN),"18,673","1,782","1,440","2,124","1,440 to 2,124",9.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$52,325","$48,487","$56,163","$48,487 to $56,163"
28,2011,27,27057,Hubbard County (MN),"20,112","2,835","2,322","3,348","2,322 to 3,348",14.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$41,196","$38,445","$43,947","$38,445 to $43,947"
29,2011,27,27059,Isanti County (MN),"37,779","3,334","2,638","4,030","2,638 to 4,030",8.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$57,860","$53,548","$62,172","$53,548 to $62,172"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,2016,27,27115,Pine County (MN),"27,124","3,306","2,677","3,935","2,677 to 3,935",12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,962","$47,095","$54,829","$47,095 to $54,829"
493,2016,27,27117,Pipestone County (MN),"8,984",975,785,"1,165","785 to 1,165",10.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$51,050","$46,242","$55,858","$46,242 to $55,858"
494,2016,27,27119,Polk County (MN),"30,508","4,410","3,842","4,978","3,842 to 4,978",14.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,893","$45,896","$55,890","$45,896 to $55,890"
495,2016,27,27121,Pope County (MN),"10,873",991,781,"1,201","781 to 1,201",9.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$58,892","$54,603","$63,181","$54,603 to $63,181"
496,2016,27,27123,Ramsey County (MN),"524,991","73,203","67,291","79,115","67,291 to 79,115",13.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,287","$58,722","$61,852","$58,722 to $61,852"
497,2016,27,27125,Red Lake County (MN),"3,966",390,308,472,308 to 472,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,625","$45,239","$56,011","$45,239 to $56,011"
498,2016,27,27127,Redwood County (MN),"14,938","1,359","1,062","1,656","1,062 to 1,656",9.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$54,918","$50,675","$59,161","$50,675 to $59,161"
499,2016,27,27129,Renville County (MN),"14,318","1,412","1,135","1,689","1,135 to 1,689",9.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,724","$52,209","$61,239","$52,209 to $61,239"
500,2016,27,27131,Rice County (MN),"58,426","5,673","4,599","6,747","4,599 to 6,747",9.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$67,726","$63,463","$71,989","$63,463 to $71,989"
501,2016,27,27133,Rock County (MN),"9,310",877,696,"1,058","696 to 1,058",9.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$57,518","$51,944","$63,092","$51,944 to $63,092"
502,2016,27,27135,Roseau County (MN),"15,390","1,204",947,"1,461","947 to 1,461",7.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$55,879","$52,992","$58,766","$52,992 to $58,766"
503,2016,27,27137,St. Louis County (MN),"192,086","28,177","25,550","30,804","25,550 to 30,804",14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,156","$47,732","$52,580","$47,732 to $52,580"
504,2016,27,27139,Scott County (MN),"142,052","7,784","6,549","9,019","6,549 to 9,019",5.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$91,046","$85,631","$96,461","$85,631 to $96,461"
505,2016,27,27141,Sherburne County (MN),"91,104","5,703","4,712","6,694","4,712 to 6,694",6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$83,304","$79,343","$87,265","$79,343 to $87,265"
506,2016,27,27143,Sibley County (MN),"14,613","1,328","1,059","1,597","1,059 to 1,597",9.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,978","$57,299","$64,657","$57,299 to $64,657"
507,2016,27,27145,Stearns County (MN),"148,851","17,429","15,338","19,520","15,338 to 19,520",11.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$57,881","$55,341","$60,421","$55,341 to $60,421"
508,2016,27,27147,Steele County (MN),"36,286","3,315","2,711","3,919","2,711 to 3,919",9.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,619","$57,159","$64,079","$57,159 to $64,079"
509,2016,27,27149,Stevens County (MN),"8,723",969,763,"1,175","763 to 1,175",11.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$58,179","$52,114","$64,244","$52,114 to $64,244"
510,2016,27,27151,Swift County (MN),"9,248",942,745,"1,139","745 to 1,139",10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,954","$46,084","$55,824","$46,084 to $55,824"
511,2016,27,27153,Todd County (MN),"23,905","2,978","2,418","3,538","2,418 to 3,538",12.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$46,255","$42,051","$50,459","$42,051 to $50,459"
512,2016,27,27155,Traverse County (MN),"3,249",414,319,509,319 to 509,12.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,416","$45,422","$55,410","$45,422 to $55,410"
513,2016,27,27157,Wabasha County (MN),"21,031","1,595","1,266","1,924","1,266 to 1,924",7.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$63,115","$58,624","$67,606","$58,624 to $67,606"
514,2016,27,27159,Wadena County (MN),"13,325","1,952","1,590","2,314","1,590 to 2,314",14.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$40,963","$38,517","$43,409","$38,517 to $43,409"
515,2016,27,27161,Waseca County (MN),"17,834","1,661","1,310","2,012","1,310 to 2,012",9.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$53,383","$50,378","$56,388","$50,378 to $56,388"
516,2016,27,27163,Washington County (MN),"249,721","11,304","9,545","13,063","9,545 to 13,063",4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$90,755","$87,006","$94,504","$87,006 to $94,504"
517,2016,27,27165,Watonwan County (MN),"10,737","1,216",986,"1,446","986 to 1,446",11.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$49,482","$44,145","$54,819","$44,145 to $54,819"
518,2016,27,27167,Wilkin County (MN),"6,189",553,426,680,426 to 680,8.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$54,373","$48,589","$60,157","$48,589 to $60,157"
519,2016,27,27169,Winona County (MN),"46,901","5,416","4,479","6,353","4,479 to 6,353",11.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,499","$52,704","$60,294","$52,704 to $60,294"
520,2016,27,27171,Wright County (MN),"131,282","6,912","5,575","8,249","5,575 to 8,249",5.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$76,256","$71,074","$81,438","$71,074 to $81,438"
521,2016,27,27173,Yellow Medicine County (MN),"9,706",963,756,"1,170","756 to 1,170",9.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$55,690","$50,689","$60,691","$50,689 to $60,691"

In [43]:
new_poverty_df = poverty_df[['Year','County Name (State)','Under Age 18 in Poverty Count','Under Age 18 in Poverty Percent']]
new_poverty_df

,Year,County Name (State),Under Age 18 in Poverty Count,Under Age 18 in Poverty Percent
0,2011,Aitkin County (MN),640,22.9
1,2011,Anoka County (MN),"9,323",11.1
2,2011,Becker County (MN),"1,595",20.4
3,2011,Beltrami County (MN),"3,280",29.6
4,2011,Benton County (MN),"1,320",14.1
5,2011,Big Stone County (MN),225,21.0
6,2011,Blue Earth County (MN),"2,100",17.3
7,2011,Brown County (MN),631,11.5
8,2011,Carlton County (MN),"1,074",13.4
9,2011,Carver County (MN),"1,678",6.2
10,2011,Cass County (MN),"1,758",30.1
11,2011,Chippewa County (MN),455,16.1
12,2011,Chisago County (MN),"1,171",8.8
13,2011,Clay County (MN),"2,245",16.6
14,2011,Clearwater County (MN),639,30.2
15,2011,Cook County (MN),144,16.6
16,2011,Cottonwood County (MN),457,16.6
17,2011,Crow Wing County (MN),"2,686",19.3
18,2011,Dakota County (MN),"9,441",9.2
19,2011,Dodge County (MN),574,10.1
20,2011,Douglas County (MN),"1,054",13.7
21,2011,Faribault County (MN),640,20.9
22,2011,Fillmore County (MN),877,17.9
23,2011,Freeborn County (MN),"1,148",17.3
24,2011,Goodhue County (MN),"1,351",12.8
25,2011,Grant County (MN),205,16.3
26,2011,Hennepin County (MN),"45,890",17.7
27,2011,Houston County (MN),530,12.6
28,2011,Hubbard County (MN),969,22.8
29,2011,Isanti County (MN),"1,190",12.5
...,...,...,...,...
492,2016,Pine County (MN),960,17.1
493,2016,Pipestone County (MN),344,15.1
494,2016,Polk County (MN),"1,468",19.9
495,2016,Pope County (MN),274,12.1
496,2016,Ramsey County (MN),"25,082",20.2
497,2016,Red Lake County (MN),115,11.9
498,2016,Redwood County (MN),500,13.7
499,2016,Renville County (MN),467,14.6
500,2016,Rice County (MN),"1,744",12.4
501,2016,Rock County (MN),271,11.4
502,2016,Roseau County (MN),409,11.0
503,2016,St. Louis County (MN),"6,175",16.6
504,2016,Scott County (MN),"2,641",6.6
505,2016,Sherburne County (MN),"1,792",7.3
506,2016,Sibley County (MN),417,12.2
507,2016,Stearns County (MN),"4,393",12.6
508,2016,Steele County (MN),"1,118",12.2
509,2016,Stevens County (MN),194,9.7
510,2016,Swift County (MN),311,14.7
511,2016,Todd County (MN),"1,042",18.4
512,2016,Traverse County (MN),138,20.5
513,2016,Wabasha County (MN),458,9.9
514,2016,Wadena County (MN),630,19.2
515,2016,Waseca County (MN),548,12.5
516,2016,Washington County (MN),"3,294",5.3
517,2016,Watonwan County (MN),425,16.5
518,2016,Wilkin County (MN),164,11.9
519,2016,Winona County (MN),"1,068",11.7
520,2016,Wright County (MN),"2,093",5.7
521,2016,Yellow Medicine County (MN),317,14.1

In [47]:
new_poverty_df.to_csv("Under 18 in Poverty (2011-2016)", index=False, header=True)